<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ラン&ジャンプ 説明</title>

    <style>
        body { text-align: center; }
        * { font-family: 'Noto Sans JP', sans-serif !important; }
    </style>
</head>
<body>
    <p>小さい声(ボリュームが0.01を超え、0.1以下の時)で進み、<br>大きな声(ボリュームが0.1を超えた時)でジャンプします。<br>無音の時間が短ければ短いほど、スコアが上がります。<br>注意点として、音量グラフで、最初の段階では、音量がゼロかほぼゼロになってしまいます。<br><a href='performance1/performance1.html'>レベル1はこちらへ<br><a href='performance2/performance2.html'>レベル2はこちらへ</a><br><a href='performance3/performance3.html'>レベル3はこちらへ</a><br><a href='performance4/performance4.html'>レベル4はこちらへ</a><br><a href='performance5/performance5.html'>レベル5はこちらへ</a><br></p>
</body>
</html>