<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ラン&ジャンプ</title>
    <style>
        body { text-align: center; }
        canvas { border: 1px solid black; display: block; margin: 0 auto; }
        * { font-family: 'Noto Sans JP', sans-serif !important; }
        #message {
            font-size: 24px;
            font-weight: bold;
            color: red;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>声の高さゲーム</h1>
    <p>小さい声(ボリュームが0.1を超えた時)で進み、<br>大きな声(ボリュームが0.01を超え、0.1以下の時)でジャンプします。<br>こちらはレベル4です。<br><a href='performance1.html'>レベル1はこちらへ</a><br><a href='performance2.html'>レベル2はこちらへ</a><br><a href='performance4.html'>レベル3はこちらへ</a><br><a href='performance5.html'>レベル5はこちらへ</a><br></p>    
    <button onclick="beginDetect()">スタート</button>
    <p id="output"></p>
    <div id="message"></div>
    <canvas id="gameCanvas" width="800" height="400"></canvas>
    <script src="performance4.js"></script>
    <a href='../../index.html'>トップ画面へ</a>
</body>
</html>